* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profile {
  margin: 10px;
}

.profile img {
  border-radius: 25px;
}

nav ul {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin: 5px 15px;
}

main {
  border: 2px solid black;
  display: grid;
  grid-template-rows: auto auto;
}

.top {
  background-color: aqua;
  border: 10px solid red;
  height: 50vh;
  background-image: url("bc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.middle {
  border: 10px solid yellow;
  height: 50vh;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
}

.box1,
.box2,
.box3 {
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.box1 {
  background-color: blue;
}
.box2 {
  background-color: rgb(91, 182, 48);
}
.box3 {
  background-color: red;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: aliceblue;
}
